body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card-img-top {
  height: 180px;
  object-fit: cover;
}

footer a {
  text-decoration: underline;
  margin-bottom: 0px;
}

h1 {
  font-weight: 700;
  margin-bottom: 20px;
}

.lead {
  max-width: 700px;
  margin: 0 auto;
}

